<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />
        <title>MangaDex OPDS</title>
    </head>

    <body>
        <h1>Mangadex OPDS</h1>
        <p>Version <code>{{ html .Version }}</code></p>
        <a href="https://github.com/rushsteve1/mangadex-opds">GitHub Repo</a>

        <p>
            Powered by <a href="https://mangadex.org">MangaDex</a> and
            <a href="https://go.dev">Go</a>.
        </p>

        <div>
            <h2>Root Catalog</h2>
            <a href="{{ .Host }}/catalog"><code>{{ html .Host }}/catalog</code></a>
        </div>

        <div>
            <h2>Debug Info</h2>
            <a href="{{ html .Host }}/debug/vars">
                <code>{{ html .Host }}/debug/vars</code>
            </a>
        </div>

        <div>
            <h2>Download Chapter</h2>
            <form method="GET" action="/download">
                <input type="text" placeholder="MangaDex URL" name="url" />
                <select name="format">
                    <option default value="cbz">CBZ</option>
                    <option value="epub">EPUB</option>
                </select>
                <input type="submit" />
            </form>
        </div>
    </body>
</html>
